[submodule "stm32/third_party/libopencm3"]
	path = stm32/third_party/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "stm32/third_party/FreeRTOS-Kernel"]
	path = stm32/third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
